.home-main-wrapper{
   .title-info-img{
      background-image: url(../../static/assets/images/pictures/pic-3.jpg);
      padding: 100px;
      height: 10vh;      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:before{
         content:'';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(0,0,0,0.5);
      }
   
      .title{    
         p{
            font-size: 1.8em;
            font-weight: 500;
            color: #FFBE0B; 
            position: relative;         
         }
      }

      .info{
         text-align: center;
         padding-bottom: 5px;
         
         p{
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            color: #fff;
            width: 880px;
            position: relative;
         }
      }

      

      .review{            
         p{
            font-size: 1.1em;
            font-weight: 500;
            color: #FFBE0B;
            position: relative; 
         }
      }
      
   }
}