.movies-items-section{
   .search-bar-movie{
      padding: 20px 20px;
      background-color: #ecf0f1;
      display: flex;
      justify-content: space-around;
      align-items: center;

      p{
         transition: 0.3s ease-in-out;
         
         &:hover{
            color: #F48C06;
            cursor: pointer;
         }
      }

      input{
         width: 300px;
         padding: 7px 8px;
         border-radius: 5px;
         border: transparent;
      }

      button{
         padding: 5.5px 7px;
         background-color: #272626;
         border: transparent;
         transition: 0.3s ease-in-out;

         &:hover{
          cursor: pointer;
          background-color: #626364; 
         }

         svg{
            font-size: 1.3em;
            color: #F48C06;            
         }
      }
   }

   .movies-items{
      padding: 15px 40px;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      gap: 6px;

      .movies-wrapper{ 
         border: 1px solid #aaa7a7;   
         border-radius: 5px;

         .title{
            font-size: 1.5em;
         }

         img{
            width: 180px;
            height: 200px;
            border-radius: 5px;
         }

         .year{
            margin: 5px 0px;
            font-size: 1.1em;
            font-weight: 900;
            font-family: 'Open Sans', sans-serif;
         }


         .rated{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Open Sans', sans-serif;

            .star-wrapper{
               margin-right: 20px;
               display: flex;
               justify-content: center;
               align-items: center;

               .stars{
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  svg{
                     color: #FFBE0B;
                     margin-right: 5px;
                  }
               }
            }

            .tomatoe{
               svg{
                  color: #e01c1c;
                  margin-right: 5px;
               }
            }
         }

         .count-users{
            font-family: 'Open Sans', sans-serif;
         }

         .movie-detail-link{    
            margin-top: 15px;        
            margin-bottom: 30px;

            a{
               color: #282be7;
               font-family: 'Open Sans', sans-serif;
               text-decoration: none;
               transition: 0.3s ease-in-out;

               &:hover{
                  color: #FFBE0B ;
               }
            }
         }
      }
   }
}